@import 'tailwindcss';
@import 'tw-animate-css';

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-fragment-mono);
	--font-mono: var(--font-fragment-mono);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: 0rem;
	--radius-md: 0rem;
	--radius-lg: 0rem;
	--radius-xl: 0rem;
}

:root {
	--stone-50: #fafaf9;
	--stone-100: #f5f5f4;
	--stone-200: #e7e5e4;
	--stone-300: #d6d3d1;
	--stone-400: #a8a29e;
	--stone-500: #78716c;
	--stone-600: #57534e;
	--stone-700: #44403c;
	--stone-800: #292524;
	--stone-900: #1c1917;
	--stone-950: #0c0a09;

	--radius: 0rem;
	--background: oklch(0.15 0 49);
	--foreground: oklch(0.92 0 49);
	--card: var(--stone-900);
	--card-foreground: var(--stone-100);
	--popover: var(--stone-900);
	--popover-foreground: var(--stone-100);
	--primary: var(--stone-200);
	--primary-foreground: var(--stone-950);
	--secondary: var(--stone-800);
	--secondary-foreground: var(--stone-200);
	--muted: var(--stone-900);
	--muted-foreground: var(--stone-500);
	--accent: var(--stone-700);
	--accent-foreground: var(--stone-100);
	--destructive: var(--stone-300);
	--border: var(--stone-700);
	--input: var(--stone-900);
	--ring: var(--stone-300);
	--chart-1: var(--stone-50);
	--chart-2: var(--stone-200);
	--chart-3: var(--stone-300);
	--chart-4: var(--stone-500);
	--chart-5: var(--stone-700);
	--sidebar: var(--stone-900);
	--sidebar-foreground: var(--stone-100);
	--sidebar-primary: var(--stone-200);
	--sidebar-primary-foreground: var(--stone-950);
	--sidebar-accent: var(--stone-800);
	--sidebar-accent-foreground: var(--stone-100);
	--sidebar-border: var(--stone-700);
	--sidebar-ring: var(--stone-300);
}

@layer base {
	* {
		@apply outline-ring/50;
	}

	body {
		@apply bg-background text-foreground;
	}

	a {
		color: inherit;
		text-decoration: none;
	}
}
